html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('/img/gears_background.jpg');
  background-repeat: repeat-x repeat-y;
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 660px;
  min-height: 880px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  perspective: 800px;
}

.card {
  display: grid;
  grid-template-areas: "overlap";
  transform-style: preserve-3d;
  transition: 1s all ease-in-out;
}

.front {
  background-color: #090909;
}

.back {
  background-color: bl#ffffff;
}

.front, .back {
  height: 180px;
  width: 125px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  grid-area: overlap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(-180deg);
  transition: .7s all ease-in-out;
  cursor: default;
}

.matched {
  cursor: default;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  background-color: #ffffff;
  text-align: left;
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
  margin-right: 7px;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
  margin-left: 7px;
}

.moves {
  margin-right: 5px;
}